{% extends "catalog/base.html" %}
{% block title %}{{ product.name }} Инфо — Skystore {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Детали продукта</h2>

    <div class="card shadow-sm">
        <div class="card-body">

            {% if product.image %}
                <img src="{{ product.image }}" alt="{{ product.name }}" class="img-fluid mb-3 rounded" style="max-height: 300px;">
            {% else %}
                <img src="https://via.placeholder.com/300x200?text=Нет+изображения" class="img-fluid mb-3 rounded" alt="Нет изображения">
            {% endif %}

            <h4 class="card-title">{{ product.name }}</h4>
            <p><strong>Категория:</strong> {{ product.category }}</p>
            <p><strong>Описание:</strong> {{ product.description }}</p>
            <p><strong>Цена:</strong> {{ product.price }} ₽</p>
            <p><strong>Изображение</strong> {{ product.category }}</p>
            <p class="text-muted">
                <strong>Создано:</strong> {{ product.created_at|date:"d.m.Y H:i" }}<br>
                <strong>Обновлено:</strong> {{ product.updated_at|date:"d.m.Y H:i" }}
            </p>
            <a href="{% url 'catalog:products' %}" class="btn btn-outline-primary mt-2">Назад к списку</a>
            <a href="{% url 'catalog:product_update' product.id %}" class="btn btn-outline-primary mt-2">Редактировать</a>
            <a href="{% url 'catalog:product_delete' product.id %}" class="btn btn-outline-primary mt-2"">Удалить</a>
        </div>
    </div>
</div>
{% endblock %}