<!-- students/student_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали продукта</title>
</head>
<body>
    <h1>Детали продукта</h1>
    <p>Имя: {{  product_name }}</p>
    <p>Категория: {{ product_category }}</p>
    <p>Описание: {{ product_description }}</p>
    <p>Цена: {{ product_price }}</p>
    <p>Создано: {{ product_created_at }}</p>
    <p>Обновлено: {{ product_updated_at }}</p>
    <a href="/catalog/products/">Назад к списку продуктов</a>
</body>
</html>